*{
    background-color: #0D0D0D;
    font-family: 'Trebuchet MS', sans-serif, italic;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #FFC857 #0D0D0D;
    transition: .3s ease-in-out;
    }

    *::-webkit-scrollbar {
        width: 12px;
      }
      
      *::-webkit-scrollbar-track {
        background: #0D0D0D;
      }
      
      *::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom,#EF6E01, #FFC857);
        border-radius: 10px;
        border: 2px solid #0D0D0D;
      }

body{
    color: white;
    margin: 0;
    padding: 0;
}
.intro-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* full screen height */
  text-align: center;
}

.cta-button {
    text-align: center;
}

.cta-button-text {
    border: 2px solid #FFC857;
    padding: 12px 24px;
    border-radius: 8px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: background 0.3s ease, transform 0.3s ease;
}

.cta-button-text:hover{
    background: linear-gradient(135deg,  #FFC857,#EF6E01);
}


.navigation-bar ul {
    display: flex;
    justify-content: right;
    margin-right: 70px;
    gap: 70px;
    margin-top: 25px;

}
.navigation-bar ul li:hover{
    transform: scale(.9);
}
  
.navigation-bar{
    width: 100%;
    padding-top: 20px;
}

.nav-link{
    color: white;
    font-size: 25px;
}
.nav-link:after{
    content: '';
    width: 0;
    background-color: #FFC857;
    display: block;
    height: 3px;
    transition: width 0.3s ease;
    
}
.nav-link:hover::after{
    width: 100%;
    
}


li{
    list-style: none;
}
a{
    text-decoration: none;
}

.color-orange{
    background: linear-gradient(225deg,#EF6E01, #FFC857);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


